html {
  img {
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, .6) 85%, rgba(255, 255, 255, 0) 100%);
    border-radius     : 0.2703rem 0rem 0.2703rem 0rem
  }

  // span {

  //   overflow     : hidden !important;
  //   /*超出部分隐藏*/
  //   white-space  : nowrap !important;
  //   /*不换行*/
  //   text-overflow: ellipsis !important;
  //   /*超出部分文字以...显示*/

  // }

  .layout_title {
    font-size  : 0.4324rem;
    color      : #ffffff;
    padding    : 5% 4%;
    padding-top: 7.5%;
    display    : flex;
    align-items: center;

    &:before {
      content         : "";
      display         : inline-flex;
      width           : 0.18rem;
      height          : 0.505rem;
      background-color: #ffc53d;
      border-radius   : 0.5676rem;
      margin-right    : 3.9%;
    }

    & span {
      font-size  : 0.3243rem;
      color      : #999999;
      margin-left: auto;
    }
  }

  .screen-container {
    padding-bottom: 2%;

    //banner
    .banner {
      .swipe_box {
        .swipe_item {
          width : 100%;
          height: 5.9459rem;
        }

      }

      .custom-indicator {
        position : absolute;
        right    : 0.1351rem;
        bottom   : 0.1351rem;
        padding  : 0.0541rem 0.1351rem;
        font-size: 0.3243rem;

        .van-swipe__indicators {
          right: 5%;
          left : auto;

          .van-swipe__indicator--active {
            width           : 0.3784rem;
            height          : 0.1081rem;
            background-color: #ffc53d;
            border-radius   : 0.3243rem;
          }

          i {
            width        : 0.2703rem;
            height       : 0.1081rem;
            border-radius: 0.4865rem;
          }
        }
      }

      .swipe_info {
        position         : absolute;
        // top           : 42.85%;
        top              : 6.5rem;
        font-family      : Source Han Sans CN;
        font-size        : 0.4865rem;
        font-weight      : normal;
        font-stretch     : normal;
        line-height      : 0.6486rem;
        letter-spacing   : 0rem;
        color            : #ffff;
        white-space      : nowrap;
        padding-left     : 4%;

        .swipe_score {
          color: #ffc53d;
        }
      }
    }

    //最近观看
    .lately {


      #list {
        overflow-x  : auto; //设置x轴可滑动 
        overflow-y  : hidden; //设置x轴可滑动 
        list-style  : none; //去掉li上的小点 
        white-space : nowrap; //元素不换行 
        width       : auto; //(宽度) 
        padding-left: 4%;

        &::-webkit-scrollbar {
          width: 0;
        }

        .underl {
          margin-left: 0rem !important;
        }

        .item {
          margin-left: 0.1622rem; //每个li设置间距为0.1622rem 
          display    : inline-block; //让所有的li在一行 注意这里不能用float:left 因为设置float后里超过一屏后会自动换行 
          width      : 37.87%;
          position   : relative;

          img {
            width        : 100%;
            height       : 2.4388rem;
            border-radius: 0.2703rem 0rem 0.2703rem 0rem;
          }

          .lately_info {
            .lately_info_ab {
              color   : #ffff;
              display : flex;
              position: absolute;
              bottom  : 30%;
              width   : 100%;

              .lately_tip {
                padding-left: 4.2%;
                width       : 100%;
              }

              .lately_score {
                padding-right: 4.2%;
                margin-left  : auto;
                color        : #ffc53d
              }
            }

            .lately_info_bt {
              .lately_name {
                font-size     : 0.3784rem;
                line-height   : 0.5135rem;
                letter-spacing: 0rem;
                color         : #ffffff;
              }

              .lately_time {
                font-size     : 0.2703rem;
                line-height   : 0.3784rem;
                letter-spacing: 0rem;
                color         : #999999;
              }
            }

          }
        }

      }

    }

    //大家都在追
    .rot {
      // background-color: #333;


      img {
        -webkit-mask-image: none;

      }

      .rot_info_ab {
        color      : #ffff;
        display    : flex;
        position   : absolute;
        bottom     : 0%;
        width      : 100%;
        text-shadow: 0rem 0rem 0.0541rem #fff;

        .rot_tip {
          padding-left: 4.2%;
          width       : 100%;
        }

        .rot_score {
          padding-right: 4.2%;
          margin-left  : auto;
          color        : #ffc53d
        }

      }

      .rot_title_name {
        text-align    : center;
        font-size     : 0.3784rem;
        color         : #fff;
        padding-bottom: 2%;
      }
    }

    //口碑大剧等你追
    .drama {


      #list {
        overflow-x  : auto; //设置x轴可滑动 
        overflow-y  : hidden; //设置x轴可滑动 
        list-style  : none; //去掉li上的小点 
        white-space : nowrap; //元素不换行 
        width       : auto; //(宽度) 
        padding-left: 4%;

        &::-webkit-scrollbar {
          width: 0;
        }

        .underl {
          margin-left: 0rem !important;
        }

        .item {
          margin-left: 0.1622rem; //每个li设置间距为0.5405rem 
          display    : inline-block; //让所有的li在一行 注意这里不能用float:left 因为设置float后里超过一屏后会自动换行 
          width      : 28%;
          position   : relative;

          img {
            width        : 100%;
            border-radius: 0.2703rem 0rem 0.2703rem 0rem;
          }

          .drama_info {
            .drama_info_ab {
              color   : #ffff;
              display : flex;
              position: absolute;
              bottom  : 15%;
              width   : 100%;

              .drama_tip {
                padding-left: 4.2%;
                width       : 100%;
              }

              .drama_score {
                padding-right: 4.2%;
                margin-left  : auto;
                color        : #ffc53d
              }
            }

            .drama_info_bt {
              .drama_name {
                font-size     : 0.3784rem;
                line-height   : 0.5135rem;
                letter-spacing: 0rem;
                color         : #ffffff;
              }


            }

          }
        }

      }

    }

    //广告栏
    .tabbar {
      width  : 100%;
      padding: 0.2703rem 0;

      img {
        -webkit-mask-image: none;

      }

      #list {
        display: flex;
        padding: 0 4%;

        .underl {
          margin-left: 0;
        }

        li {
          margin-left: 2%;
          width      : 33%;

          img {
            width: 100%;
          }
        }
      }
    }

    //专区电影
    .special {


      #list {
        overflow-x             : auto; //设置x轴可滑动 
        overflow-y             : hidden; //设置x轴可滑动 
        list-style             : none; //去掉li上的小点 
        white-space            : nowrap; //元素不换行 
        width                  : auto; //(宽度) 
        padding-left           : 4%;
        // background-image    : url(../../../static/img/bg_harry.png);
        /*这个是按从左往右，从上往下的百分比位置进行调整*/
        background             : no-repeat;
        // background-size  : 50% 50%;
        padding-top            : 43.6%;

        /*还有repeat-x,y等*/
        &::-webkit-scrollbar {
          width: 0;
        }

        .underl {
          margin-left: 0rem !important;
        }

        .item {
          margin-left: 0.1622rem; //每个li设置间距为0.5405rem 
          display    : inline-block; //让所有的li在一行 注意这里不能用float:left 因为设置float后里超过一屏后会自动换行 
          width      : 28%;
          position   : relative;

          img {
            width        : 100%;
            border-radius: 0.2703rem 0rem 0.2703rem 0rem;
          }

          .special_info {
            width: 90%;

            .special_info_ab {
              color   : #ffff;
              display : flex;
              position: absolute;
              bottom  : 15%;
              width   : 100%;

              .special_tip {
                padding-left: 4.2%;
                width       : 100%;
              }

              .special_score {
                padding-right: 4.2%;
                margin-left  : auto;
                color        : #ffc53d
              }
            }

            .special_info_bt {

              .special_name {
                font-size         : 0.3784rem;
                line-height       : 0.5135rem;
                letter-spacing    : 0rem;
                color             : #ffffff;
                overflow          : hidden;
                text-overflow     : ellipsis;
                display           : -webkit-box;
                /* autoprefixer   : off */
                -webkit-box-orient: vertical;
                /* autoprefixer   : on */
                -webkit-line-clamp: 2;
              }


            }

          }
        }

      }
    }

    //广告位
    .poster {
      padding-top: 5%;

      img {
        -webkit-mask-image: none;

      }

    }

    //高能新剧
    .new {

      // background-color: #333;
      .layout_title {
        padding-bottom: 0;
      }

      img {
        -webkit-mask-image: none;

      }

      .carousel-3d {
        padding-left: 4%;
      }

      .new_info_ab {
        color      : #ffff;
        display    : flex;
        position   : absolute;
        bottom     : 0%;
        width      : 100%;
        text-shadow: 0rem 0rem 0.0541rem #fff;

        .new_tip {
          padding-left: 4.2%;
          width       : 100%;
        }

        .new_score {
          padding-right: 4.2%;
          margin-left  : auto;
          color        : #ffc53d
        }

      }

      .new_title_name {
        text-align    : left;
        padding-left  : 4%;
        font-size     : 0.3784rem;
        color         : #fff;
        padding-bottom: 5%;
      }
    }

    //navbar
    .navbar {}

  }
}