html {
  img {
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, .6) 85%, rgba(255, 255, 255, 0) 100%);
    border-radius     : 0.2703rem 0rem 0.2703rem 0rem
  }

  span {

    overflow     : hidden !important;
    /*超出部分隐藏*/
    white-space  : nowrap !important;
    /*不换行*/
    text-overflow: ellipsis !important;
    /*超出部分文字以...显示*/

  }

  .layout_title {
    font-size  : 0.4324rem;
    color      : #ffffff;
    padding    : 5% 4%;
    padding-top: 7.5%;
    display    : flex;
    align-items: center;

    &:before {
      content         : "";
      display         : inline-flex;
      width           : 6.66px;
      height          : 18.685px;
      background-color: #ffc53d;
      border-radius   : 0.5676rem;
      margin-right    : 3.9%;
    }

    & span {
      font-size  : 0.3243rem;
      color      : #999999;
      margin-left: auto;
    }
  }


  .special-container {
    .bc_img_box {
      padding-bottom: 60%;

      img {
        position: absolute;
        top     : 0;

        width: 100%;
      }
    }

    .special_navbar {
      height: 4.5946rem;

      .special_eg_f {


        #list {
          overflow-x  : auto; //设置x轴可滑动 
          overflow-y  : hidden; //设置x轴可滑动 
          list-style  : none; //去掉li上的小点 
          white-space : nowrap; //元素不换行 
          width       : auto; //(宽度) 
          padding-left: 4%;

          &::-webkit-scrollbar {
            width: 0;
          }

          .underl {
            margin-left: 0rem !important;
          }

          .item {
            margin-left: 0.1622rem; //每个li设置间距为0.5405rem 
            display    : inline-block; //让所有的li在一行 注意这里不能用float:left 因为设置float后里超过一屏后会自动换行 
            width      : 45.87%;
            position   : relative;

            img {
              width        : 100%;
              border-radius: 0.2703rem 0rem 0.2703rem 0rem;
              height       : 2.9459rem;
            }

            .lately_info {
              .lately_info_ab {
                color   : #ffff;
                display : flex;
                position: absolute;
                bottom  : 5%;
                width   : 100%;

                .lately_tip {
                  padding-left: 4.2%;
                  width       : 100%;
                }


              }
            }
          }

        }

      }

      //明星
      .person {
        img {
          -webkit-mask-image: none;
          border-radius     : 0.2703rem 0rem 0.2703rem 0rem;
        }

        #list {
          overflow-x  : auto; //设置x轴可滑动 
          overflow-y  : hidden; //设置x轴可滑动 
          list-style  : none; //去掉li上的小点 
          white-space : nowrap; //元素不换行 
          width       : auto; //(宽度) 
          padding-left: 4%;

          &::-webkit-scrollbar {
            width: 0;
          }

          .underl {
            margin-left: 0rem !important;
          }

          .item {
            margin-left: 0.1622rem; //每个li设置间距为0.5405rem 
            display    : inline-block; //让所有的li在一行 注意这里不能用float:left 因为设置float后里超过一屏后会自动换行 
            width      : 28%;
            position   : relative;
            padding    : 0 3%;

            img {
              width        : 100%;
              border-radius: 0.2703rem 0rem 0.2703rem 0rem;
            }

            .person_info {
              .person_info_ab {
                color     : #ffff;
                display   : flex;
                bottom    : 15%;
                width     : 100%;
                text-align: center;

                .person_tip {
                  width    : 100%;
                  font-size: 0.3243rem;
                  color    : #cccccc;
                }

                .person_score {
                  padding-right: 4.2%;
                  margin-left  : auto;
                  color        : #ffc53d
                }
              }

              .person_info_bt {
                text-align: center;

                .person_name {
                  font-size     : 0.3243rem;
                  line-height   : 0.5135rem;
                  letter-spacing: 0rem;
                  color         : #cccccc;
                }


              }

            }
          }

        }

      }

      //高能明星周边
      .person_new {

        // background-color: #333;
        .layout_title {
          padding-bottom: 0;
        }

        img {
          -webkit-mask-image: none;

        }

        .carousel-3d {
          padding-left: 4%;
        }

        .person_new_info_ab {
          color      : #ffff;
          display    : flex;
          position   : absolute;
          bottom     : 2%;
          width      : 100%;
          text-shadow: 0rem 0rem 0.0541rem #fff;

          .person_new_tip {
            padding-left: 4.2%;
            width       : 100%;
          }

          .person_new_score {
            padding-right: 4.2%;
            margin-left  : auto;
            color        : #ffc53d
          }

        }

        .person_new_title_name {
          text-align    : left;
          padding-left  : 4%;
          font-size     : 0.3784rem;
          color         : #fff;
          padding-bottom: 5%;
        }
      }

      .some_box {
        .some_ul {
          height    : 11.3514rem;
          // display: flex;
          text-align: center;

          li {
            width         : 30%;
            display       : inline-block;
            position      : relative;
            padding-bottom: 2%;
            margin        : 1%;

            img {
              width : 95%;
              margin: auto;
            }

            .some_info_ab {
              white-space: nowrap;
              color      : #ffff;
              display    : flex;
              position   : absolute;
              bottom     : 20%;
              width      : 96%;
              padding    : 0 4%;

              .some_score {
                padding-right: 4.2%;
                margin-left  : auto;
                color        : #ffc53d;

                img {
                  padding-left      : 0.1351rem;
                  width             : 0.3784rem;
                  -webkit-mask-image: none;
                  border-radius     : 0rem
                }
              }

            }

            .some_info_bt {
              text-align: left;

              .some_name {
                // font-size   : 0.1622rem;
                padding-left : 4.2%;
                font-size    : 0.3784rem;
                color        : #fff;
                overflow     : hidden;
                white-space  : nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }

    }


  }
}