html {
  .device-container {
    .device_box {
      padding-top: 1.4375rem;

      div.set_child {
        padding-bottom: 0.4688rem;
      }

      .tip {
        padding-left: 0.4267rem;
        font-size   : 0.2667rem;
        color       : #999999;
      }
    }
  }
}