html {
  .user-info-container {
    .user_info_box {
      padding-top: 1.4375rem;

      div.set_child {
        padding-bottom: 0.4688rem;
      }

      .check_sign {
        textarea {
          line-height: 2 !important;
        }

        height : 2.9333rem !important;
      }
    }
  }
}