html {
  * {
    color: #fff;
  }

  img {
    width        : 100%;
    border-radius: 10.0011px 0px 10.0011px 0px
  }

  span {
    white-space: nowrap;
  }

  .chip-library-container {
    .header {
      .van-nav-bar {
        background-color: #333;

        .van-nav-bar__title {
          color: #fff;
        }
      }
    }

  }
}