@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  // background-color: #333;
  font-family     : Source Han Sans CN;
  background-color: $background-color;
}

.app-container {
  padding-bottom: 50px;
}