html {
  * {
    background-color: #333;
    font-family: Source Han Sans CN;
  }

  .index-container {
    padding-bottom: 2%;

    .van_tabs {
      van-tab {}

      // padding: 0 0 0 22%;

      .search_icon_box {
        display: flex;

        img {
          width: 40%;
          margin: 0 auto;
        }


      }

      .screen_box {
        padding-top: 2%;
      }
    }
  }
}
