html {
  * {
    font-family: Source Han Sans CN;
  }

  body::-webkit-scrollbar {
    width: 0 !important
  }

  .index-container {
    padding-bottom: 2%;

    .van_tabs {
      .van_tabs {
        padding: 0 22%;

        .van-sticky {
          padding: 0 22%;
        }
      }

      // padding: 0 0 0 22%;

      .search_icon_box {
        display: flex;

        img {
          width : 40%;
          width : 0.48rem;
          height: 0.48rem;
          margin: 0 auto;
        }


      }

      .screen_box {
        padding-top: 2%;
      }
    }
  }
}