html {
  * {
    // background-color: #333;
    font-family: Source Han Sans CN;
  }

  // span {

  //   overflow     : hidden !important;
  //   /*超出部分隐藏*/
  //   white-space  : nowrap !important;
  //   /*不换行*/
  //   text-overflow: ellipsis !important;
  //   /*超出部分文字以...显示*/

  // }


  .index-container {
    padding-bottom: 2%;

    .van_tabs {
      .van_tabs {
        padding: 0 22%;

        .van-sticky {
          padding: 0 22%;
        }
      }

      // padding: 0 0 0 22%;

      .search_icon_box {
        display: flex;

        img {
          width : 40%;
          margin: 0 auto;
        }


      }

      .screen_box {
        padding-top: 2%;
      }
    }
  }
}