html {
  img {
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, .6) 85%, rgba(255, 255, 255, 0) 100%);
    border-radius     : 10px 0px 10px 0px
  }

  .layout_title {
    font-size  : 16px;
    color      : #ffffff;
    padding    : 5% 4%;
    display    : flex;
    align-items: center;

    &:before {
      content         : "";
      display         : inline-flex;
      width           : 0.18rem;
      height          : 0.505rem;
      background-color: #ffc53d;
      border-radius   : 21px;
      margin-right    : 3.9%;
    }

    & span {
      font-size  : 12px;
      color      : #999999;
      margin-left: auto;
    }
  }

  .screen-container {
    padding-bottom: 2%;

    //banner
    .banner {
      .swipe_box {
        .swipe_item {
          width : 100%;
          height: 220px;
        }

      }

      .custom-indicator {
        position : absolute;
        right    : 5px;
        bottom   : 5px;
        padding  : 2px 5px;
        font-size: 12px;

        .van-swipe__indicators {
          right: 5%;
          left : auto;

          .van-swipe__indicator--active {
            width           : 14px;
            height          : 4px;
            background-color: #ffc53d;
            border-radius   : 12px;
          }

          i {
            width        : 10px;
            height       : 4px;
            border-radius: 18px;
          }
        }
      }

      .swipe_info {
        position         : absolute;
        // top           : 42.85%;
        top              : 6.5rem;
        font-family      : Source Han Sans CN;
        font-size        : 18px;
        font-weight      : normal;
        font-stretch     : normal;
        line-height      : 24px;
        letter-spacing   : 0px;
        color            : #ffff;
        white-space      : nowrap;
        padding-left     : 4%;

        .swipe_score {
          color: #ffc53d;
        }
      }
    }

    //最近观看
    .lately {


      #list {
        overflow-x  : auto; //设置x轴可滑动 
        overflow-y  : hidden; //设置x轴可滑动 
        list-style  : none; //去掉li上的小点 
        white-space : nowrap; //元素不换行 
        width       : auto; //(宽度) 
        padding-left: 4%;

        &::-webkit-scrollbar {
          width: 0;
        }

        .underl {
          margin-left: 0px !important;
        }

        .item {
          margin-left: 6px; //每个li设置间距为20px 
          display    : inline-block; //让所有的li在一行 注意这里不能用float:left 因为设置float后里超过一屏后会自动换行 
          width      : 37.87%;
          position   : relative;

          img {
            width        : 100%;
            height       : 90.234px;
            border-radius: 10px 0px 10px 0px;
          }

          .lately_info {
            .lately_info_ab {
              color   : #ffff;
              display : flex;
              position: absolute;
              bottom  : 35%;
              width   : 100%;

              .lately_tip {
                padding-left: 4.2%;
              }

              .lately_score {
                padding-right: 4.2%;
                margin-left  : auto;
                color        : #ffc53d
              }
            }

            .lately_info_bt {
              .lately_name {
                font-size     : 14px;
                line-height   : 19px;
                letter-spacing: 0px;
                color         : #ffffff;
              }

              .lately_time {
                font-size     : 10px;
                line-height   : 14px;
                letter-spacing: 0px;
                color         : #999999;
              }
            }

          }
        }

      }

    }

    //大家都在追
    .rot {
      // background-color: #333;


      img {
        -webkit-mask-image: none;

      }

      .rot_info_ab {
        color      : #ffff;
        display    : flex;
        position   : absolute;
        bottom     : 2%;
        width      : 100%;
        text-shadow: 0px 0px 2px #fff;

        .rot_tip {
          padding-left: 4.2%;
        }

        .rot_score {
          padding-right: 4.2%;
          margin-left  : auto;
          color        : #ffc53d
        }

      }

      .rot_title_name {
        text-align    : center;
        font-size     : 14px;
        color         : #fff;
        padding-bottom: 2%;
      }
    }

    //口碑大剧等你追
    .drama {


      #list {
        overflow-x  : auto; //设置x轴可滑动 
        overflow-y  : hidden; //设置x轴可滑动 
        list-style  : none; //去掉li上的小点 
        white-space : nowrap; //元素不换行 
        width       : auto; //(宽度) 
        padding-left: 4%;

        &::-webkit-scrollbar {
          width: 0;
        }

        .underl {
          margin-left: 0px !important;
        }

        .item {
          margin-left: 6px; //每个li设置间距为20px 
          display    : inline-block; //让所有的li在一行 注意这里不能用float:left 因为设置float后里超过一屏后会自动换行 
          width      : 28%;
          position   : relative;

          img {
            width        : 100%;
            border-radius: 10px 0px 10px 0px;
          }

          .drama_info {
            .drama_info_ab {
              color   : #ffff;
              display : flex;
              position: absolute;
              bottom  : 15%;
              width   : 100%;

              .drama_tip {
                padding-left: 4.2%;
              }

              .drama_score {
                padding-right: 4.2%;
                margin-left  : auto;
                color        : #ffc53d
              }
            }

            .drama_info_bt {
              .drama_name {
                font-size     : 14px;
                line-height   : 19px;
                letter-spacing: 0px;
                color         : #ffffff;
              }


            }

          }
        }

      }

    }

    //广告栏
    .tabbar {
      width: 100%;


      img {
        -webkit-mask-image: none;

      }

      #list {
        display: flex;
        padding: 0 4%;

        .underl {
          margin-left: 0;
        }

        li {
          margin-left: 2%;
          width      : 33%;

          img {
            width: 100%;
          }
        }
      }
    }

    //专区电影
    .special {


      #list {
        overflow-x          : auto; //设置x轴可滑动 
        overflow-y          : hidden; //设置x轴可滑动 
        list-style          : none; //去掉li上的小点 
        white-space         : nowrap; //元素不换行 
        width               : auto; //(宽度) 
        padding-left        : 4%;
        background-image    : url(../../../static/img/bg_harry.png);
        /*这个是按从左往右，从上往下的百分比位置进行调整*/
        background-repeat   : no-repeat;
        // background-size  : 50% 50%;
        padding-top         : 43.6%;

        /*还有repeat-x,y等*/
        &::-webkit-scrollbar {
          width: 0;
        }

        .underl {
          margin-left: 0px !important;
        }

        .item {
          margin-left: 6px; //每个li设置间距为20px 
          display    : inline-block; //让所有的li在一行 注意这里不能用float:left 因为设置float后里超过一屏后会自动换行 
          width      : 28%;
          position   : relative;

          img {
            width        : 100%;
            border-radius: 10px 0px 10px 0px;
          }

          .special_info {

            .special_info_ab {
              color   : #ffff;
              display : flex;
              position: absolute;
              bottom  : 15%;
              width   : 100%;

              .special_tip {
                padding-left: 4.2%;
              }

              .special_score {
                padding-right: 4.2%;
                margin-left  : auto;
                color        : #ffc53d
              }
            }

            .special_info_bt {

              .special_name {
                font-size         : 14px;
                line-height       : 19px;
                letter-spacing    : 0px;
                color             : #ffffff;
                overflow          : hidden;
                text-overflow     : ellipsis;
                display           : -webkit-box;
                /* autoprefixer   : off */
                -webkit-box-orient: vertical;
                /* autoprefixer   : on */
                -webkit-line-clamp: 2;
              }


            }

          }
        }

      }
    }

    //广告位
    .poster {
      padding-top: 5%;

      img {
        -webkit-mask-image: none;

      }

    }

    //高能新剧
    .new {

      // background-color: #333;
      .layout_title {
        padding-bottom: 0;
      }

      img {
        -webkit-mask-image: none;

      }

      .carousel-3d {
        padding-left: 4%;
      }

      .new_info_ab {
        color      : #ffff;
        display    : flex;
        position   : absolute;
        bottom     : 2%;
        width      : 100%;
        text-shadow: 0px 0px 2px #fff;

        .new_tip {
          padding-left: 4.2%;
        }

        .new_score {
          padding-right: 4.2%;
          margin-left  : auto;
          color        : #ffc53d
        }

      }

      .new_title_name {
        text-align    : left;
        padding-left  : 4%;
        font-size     : 14px;
        color         : #fff;
        padding-bottom: 2%;
      }
    }

    //navbar
    .navbar {}

  }
}