html {
  span {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }


  .vip-container {
    .vip_box {


      .vip_header {
        padding-top : 1.2432rem;
        padding-left: 1.0811rem;
        display     : flex;
        align-items : center;

        .user_info {
          padding-left: 0.3243rem;
          padding-top : 0.2703rem;

          .user_name {

            font-size: 0.4865rem;

            img {
              width       : 0.3784rem;
              height      : 0.3514rem;
              padding-left: 0.3243rem;
            }
          }

          p {
            font-size: 0.3243rem;
          }
        }
      }

      .vip_body {
        padding-top  : 0.8108rem;
        padding-left : 1.0811rem;
        padding-right: 1.1622rem;

        .vip_body_top {
          display: flex;

          .price_box {
            flex            : 1;
            width           : 2.1622rem;
            height          : 2.8108rem;
            background-color: #ffeecb;
            margin-right    : 0.6757rem;
            border-radius   : 0.2703rem;
            text-align      : center;

            .left_title {
              height          : 0.6216rem;
              background-color: #ffb164;
              border-radius   : 0.2703rem 10px 0 0;
              font-size       : 0.3784rem;
              padding-top     : 0.0811rem;
              margin-bottom   : 0.3514rem;
            }

            .price_span {
              font-size: 0.5405rem;
              color    : #c88b4c;
              display  : block;
            }

            .price_month {
              padding-bottom: 0.1622rem;
              border-bottom : 0.027rem solid #c88b4c;
              font-size     : 0.3243rem;
              color         : #c88b4c;

            }
          }

          .price_box:nth-child(3) {
            margin-right: 0;
          }

          .left {
            .left_title {
              height          : 0.6216rem;
              background-color: #e16e16 !important;
              border-radius   : 0.2703rem 10px 0 0;
              font-size       : 0.3784rem;
              padding-top     : 0.0811rem;
            }
          }
        }

        .vip_body_center {
          padding-top: 0.1892rem;
          display    : block;
          font-size  : 0.3243rem;
          color      : #f1d9b4;
          text-align : center;
        }
      }
    }

    .vip_bg {
      img {
        width   : 100%;
        position: absolute;
        top     : 3.66667rem;
        z-index : -1;
      }
    }
  }


}