html {
  * {
    color: #fff;
  }

  img {
    width        : 100%;
    border-radius: 10.0011px 0px 10.0011px 0px
  }

  span {
    white-space: nowrap;
  }

  .search-container {

    //搜索框
    .search_box {
      .van-search {
        background: #333;

        .van-search__content--round {
          background-color: #666;
        }
      }
    }

    //搜索历史
    .search_history {
      div {
        padding: 0.5rem 0 0 0.5rem;

        span {
          font-size: 16px;
        }
      }
    }

    //推荐搜索
    .search_recommend {
      div {
        padding: 0.5rem 0 0 0.5rem;

        span {
          font-size: 16px;
        }
      }
    }

    //热门搜索
    .search_hot {
      div {
        padding: 0.5rem 0 0 0.5rem;

        span {
          font-size: 16px;
          color    : #ffc53d;
        }
      }

      ul {
        padding: 0 0 0.5rem 0.5rem;

        li:nth-child(1)>span:nth-child(1) {
          background-color: #ff6b3d;
        }

        li:nth-child(2)>span:nth-child(1) {
          background-color: #ff9e3d;
        }

        li:nth-child(3)>span:nth-child(1) {
          background-color: #ffc53d;
        }

        li {
          padding: 0.4rem 0 0 0;

          span:nth-child(1) {
            padding         : 4px;
            border-radius   : 5px;
            font-size       : 18px;
            background-color: #a4a4a4;
          }

          span:nth-child(2) {
            padding-left: 0.4688rem;
            font-size   : 16px;
          }
        }
      }
    }
  }
}